BasedOnStyle: llvm
IndentWidth: 4
ColumnLimit: 150
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: Empty
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: BeforeComma
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
ExperimentalAutoDetectBinPacking: false
DerivePointerAlignment: false
FixNamespaceComments: true
PointerAlignment: Left
UseTab: Never
