services:
  app:
    image: gracingbot
    build: .
    command: ["sh", "-c", "deno task generate && deno task migrate && DEPLOY=1 deno task deploy-commands && deno task start"]
    ports:
      - "80:80"
      - "587:587"
      - "3300:3000"
    volumes:
      - ./resources:/usr/app/resources
      - ./dist:/usr/app/dist
      - ./onedrive:/usr/app/onedrive
      - ./drizzle:/usr/app/drizzle
      - ./node_modules:/usr/app/node_modules
      - ./logs:/usr/app/logs
      - ./database.sqlite:/usr/app/database.sqlite
    environment:
      - DATABASE_PATH=/usr/app/database.sqlite
    env_file:
      - .env
    restart: unless-stopped
