name: GRacing Bot CI

on:
  push:
    branches: [ main ]

jobs:
  Lint-Type-Build-Check-Bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm i

        # Run all the checks, and report all the results
      - name: Lint check
        if: always()
        run: npm run lint-check

      - name: Type Check
        if: always()
        run: npm run type-check

      - name: Compile TypeScript
        if: always()
        run: npm run build
    
  Lint-Build-Check-Door-Sensor:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Setup PlatformIO
        run: pip install --upgrade platformio

      # Clang Format
      - name: Format Check
        uses: DoozyX/clang-format-lint-action@v0.17
        if: always()
        with:
          source: esp32

      # PlatformIO
      - name: Compile Door Sensor
        if: always()
        run: |
          cd esp32
          pio run

  # Currently we deploy via docker compose on our shop server, which is set up has a runner
  Deploy:
    runs-on: [ self-hosted, Linux, X64 ]
    needs: [Lint-Type-Build-Check-Bot, Lint-Build-Check-Door-Sensor]
    steps:
      - uses: actions/checkout@v4

      # Deploy with Docker Compose
      - name: Deploy with Docker Compose
        run: |
          docker-compose down || true
          docker-compose build
          docker-compose up -d